# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [3]:
!pwd
!ls -al

/Users/logananderson/CourseWork/chicago-ds-080519/Module 1/week-2/day-6-pandas-part-2
total 840
drwxr-xr-x  8 logananderson  staff     256 Aug 13 09:45 .
drwxr-xr-x  8 logananderson  staff     256 Aug 12 14:56 ..
drwxr-xr-x  3 logananderson  staff      96 Aug 12 14:56 .ipynb_checkpoints
-rwxr-xr-x  1 logananderson  staff   11328 Aug 12 14:56 heart.csv
-rw-r--r--  1 logananderson  staff  215108 Aug 13 09:45 manipulating_data_with_pandas.ipynb
-rw-r--r--  1 logananderson  staff  190493 Aug 12 14:56 manipulating_data_with_pandas_sol.ipynb
-rw-r--r--  1 logananderson  staff    3297 Aug 12 14:56 pre_process_animal_shelter_data.py
-rw-r--r--  1 logananderson  staff     130 Aug 12 14:56 states.csv

In [4]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [5]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [6]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [7]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [8]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [9]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [11]:
uci.ca.mean()

0.7293729372937293

In [12]:
uci.age.mean()

54.366336633663366

#### The Axis Variable

In [13]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [14]:

uci['age'].value_counts()[:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [15]:
# Your code here!

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [16]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [17]:
def successor(x):
    return x + 1

In [18]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [19]:
uci['age'].map(successor)[-10:]

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [20]:
uci.oldpeak.head(4)

0    2.3
1    3.5
2    1.4
3    0.8
Name: oldpeak, dtype: float64

In [21]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

In [22]:
uci['age'].map(lambda x: str(x)).tail(10)

293    67
294    44
295    63
296    63
297    59
298    57
299    45
300    68
301    57
302    57
Name: age, dtype: object

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [23]:
# Your code here
pd.to_datetime?

In [24]:
animal_outcomes.head(1)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A799942,NaN,08/13/2019 12:58:00 PM,08/13/2019 12:58:00 PM,07/14/2017,Transfer,Partner,Cat,Intact Female,2 years,Domestic Shorthair,Gray/Gray Tabby

In [25]:
animal_outcomes['date_outcome'] = animal_outcomes.\
DateTime.map(lambda x : pd.to_datetime(x[:10], format = '%m/%d/%Y', errors='ignore'))
# animal_outcomes['date_outcome'].head(10)

In [26]:
#animal_outcomes.dtypes

In [27]:
animal_outcomes.drop(columns='DateTime', inplace=True)
    pass

IndentationError: unexpected indent (<ipython-input-27-41f24ccdc357>, line 2)

In [28]:
animal_outcomes['dob'] = animal_outcomes['Date of Birth'].\
map(lambda x : pd.to_datetime(x[:10], format = '%m/%d/%Y', errors='ignore'))
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,date_outcome,dob
0,A799942,NaN,08/13/2019 12:58:00 PM,08/13/2019 12:58:00 PM,07/14/2017,Transfer,Partner,Cat,Intact Female,2 years,Domestic Shorthair,Gray/Gray Tabby,2019-08-13,2017-07-14
1,A799940,NaN,08/13/2019 12:58:00 PM,08/13/2019 12:58:00 PM,06/14/2019,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair,Blue Tabby/White,2019-08-13,2019-06-14
2,A799938,NaN,08/13/2019 12:57:00 PM,08/13/2019 12:57:00 PM,06/14/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14
3,A799939,NaN,08/13/2019 12:57:00 PM,08/13/2019 12:57:00 PM,06/14/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14
4,A799936,NaN,08/13/2019 12:56:00 PM,08/13/2019 12:56:00 PM,06/14/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14

In [29]:
animal_outcomes.drop(columns='Date of Birth', inplace=True)

In [30]:
animal_outcomes["Age upon Outcome"]

0           2 years
1           1 month
2           1 month
3           1 month
4           1 month
5           1 month
6            1 year
7            1 year
8           8 years
9           2 years
10         4 months
11          2 years
12         2 months
13          7 years
14         4 months
15         2 months
16         4 months
17          2 years
18           1 year
19         9 months
20        10 months
21         5 months
22         6 months
23         2 months
24         2 months
25         3 months
26         8 months
27           1 year
28         2 months
29         7 months
            ...
105744      3 years
105745     14 years
105746      2 years
105747     14 years
105748     9 months
105749     10 years
105750      3 weeks
105751      3 weeks
105752      1 weeks
105753      1 weeks
105754       1 week
105755     4 months
105756      1 month
105757      3 years
105758       1 year
105759      7 years
105760      2 years
105761      3 years
105762       1 year
105763     6 months
105764     5 months
105765      9 years
105766      3 years
105767      2 years
105768      3 years
105769      4 years
105770       1 week
105771       1 week
105772       1 week
105773     2 months
Name: Age upon Outcome, Length: 105774, dtype: object

In [31]:
animal_outcomes['age_days'] = (animal_outcomes.date_outcome - animal_outcomes.dob).dt.days
animal_outcomes.head(5)

,Animal ID,Name,DateTime,MonthYear,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,date_outcome,dob,age_days
0,A799942,NaN,08/13/2019 12:58:00 PM,08/13/2019 12:58:00 PM,Transfer,Partner,Cat,Intact Female,2 years,Domestic Shorthair,Gray/Gray Tabby,2019-08-13,2017-07-14,760
1,A799940,NaN,08/13/2019 12:58:00 PM,08/13/2019 12:58:00 PM,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair,Blue Tabby/White,2019-08-13,2019-06-14,60
2,A799938,NaN,08/13/2019 12:57:00 PM,08/13/2019 12:57:00 PM,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14,60
3,A799939,NaN,08/13/2019 12:57:00 PM,08/13/2019 12:57:00 PM,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14,60
4,A799936,NaN,08/13/2019 12:56:00 PM,08/13/2019 12:56:00 PM,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14,60

In [32]:
animal_outcomes['age_years'] = round((animal_outcomes.age_days/365), 2)

In [33]:
animal_outcomes.head(10)

,Animal ID,Name,DateTime,MonthYear,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,date_outcome,dob,age_days,age_years
0,A799942,NaN,08/13/2019 12:58:00 PM,08/13/2019 12:58:00 PM,Transfer,Partner,Cat,Intact Female,2 years,Domestic Shorthair,Gray/Gray Tabby,2019-08-13,2017-07-14,760,2.08
1,A799940,NaN,08/13/2019 12:58:00 PM,08/13/2019 12:58:00 PM,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair,Blue Tabby/White,2019-08-13,2019-06-14,60,0.16
2,A799938,NaN,08/13/2019 12:57:00 PM,08/13/2019 12:57:00 PM,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14,60,0.16
3,A799939,NaN,08/13/2019 12:57:00 PM,08/13/2019 12:57:00 PM,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14,60,0.16
4,A799936,NaN,08/13/2019 12:56:00 PM,08/13/2019 12:56:00 PM,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14,60,0.16
5,A799937,NaN,08/13/2019 12:56:00 PM,08/13/2019 12:56:00 PM,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Gray/White,2019-08-13,2019-06-14,60,0.16
6,A800995,*Chester,08/13/2019 12:31:00 PM,08/13/2019 12:31:00 PM,Transfer,Partner,Dog,Intact Male,1 year,Harrier/Great Dane,Fawn/White,2019-08-13,2018-07-29,380,1.04
7,A799911,Aries,08/13/2019 12:30:00 PM,08/13/2019 12:30:00 PM,Transfer,Partner,Dog,Neutered Male,1 year,Pit Bull,Brown Brindle/White,2019-08-13,2018-08-13,365,1.00
8,A801412,Betsy,08/13/2019 12:28:00 PM,08/13/2019 12:28:00 PM,Transfer,Partner,Dog,Intact Female,8 years,Beagle/Chihuahua Shorthair,Black/White,2019-08-13,2011-08-04,2931,8.03
9,A801239,*Gus,08/13/2019 12:28:00 PM,08/13/2019 12:28:00 PM,Transfer,Partner,Dog,Intact Male,2 years,Labrador Retriever,Brown,2019-08-13,2017-08-01,742,2.03

In [34]:
animal_outcomes.drop(columns=['MonthYear', 'Age upon Outcome'])

,Animal ID,Name,DateTime,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Breed,Color,date_outcome,dob,age_days,age_years
0,A799942,NaN,08/13/2019 12:58:00 PM,Transfer,Partner,Cat,Intact Female,Domestic Shorthair,Gray/Gray Tabby,2019-08-13,2017-07-14,760,2.08
1,A799940,NaN,08/13/2019 12:58:00 PM,Transfer,Partner,Cat,Intact Female,Domestic Shorthair,Blue Tabby/White,2019-08-13,2019-06-14,60,0.16
2,A799938,NaN,08/13/2019 12:57:00 PM,Transfer,Partner,Cat,Intact Male,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14,60,0.16
3,A799939,NaN,08/13/2019 12:57:00 PM,Transfer,Partner,Cat,Intact Male,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14,60,0.16
4,A799936,NaN,08/13/2019 12:56:00 PM,Transfer,Partner,Cat,Intact Male,Domestic Shorthair,Blue/White,2019-08-13,2019-06-14,60,0.16
5,A799937,NaN,08/13/2019 12:56:00 PM,Transfer,Partner,Cat,Intact Male,Domestic Shorthair,Gray/White,2019-08-13,2019-06-14,60,0.16
6,A800995,*Chester,08/13/2019 12:31:00 PM,Transfer,Partner,Dog,Intact Male,Harrier/Great Dane,Fawn/White,2019-08-13,2018-07-29,380,1.04
7,A799911,Aries,08/13/2019 12:30:00 PM,Transfer,Partner,Dog,Neutered Male,Pit Bull,Brown Brindle/White,2019-08-13,2018-08-13,365,1.00
8,A801412,Betsy,08/13/2019 12:28:00 PM,Transfer,Partner,Dog,Intact Female,Beagle/Chihuahua Shorthair,Black/White,2019-08-13,2011-08-04,2931,8.03
9,A801239,*Gus,08/13/2019 12:28:00 PM,Transfer,Partner,Dog,Intact Male,Labrador Retriever,Brown,2019-08-13,2017-08-01,742,2.03
10,A801787,NaN,08/13/2019 11:47:00 AM,Transfer,Snr,Cat,Intact Male,Domestic Shorthair,Brown Tabby/White,2019-08-13,2019-04-09,126,0.35
11,A801801,NaN,08/13/2019 11:47:00 AM,Transfer,Snr,Cat,Intact Male,Domestic Shorthair Mix,Brown Tabby/White,2019-08-13,2017-08-09,734,2.01
12,A801785,NaN,08/13/2019 11:47:00 AM,Transfer,Snr,Cat,Intact Female,Domestic Shorthair,Black,2019-08-13,2019-05-21,84,0.23
13,A782713,*Kanga,08/13/2019 11:40:00 AM,Adoption,Foster,Dog,Spayed Female,Pit Bull Mix,Chocolate/White,2019-08-13,2011-10-20,2854,7.82
14,A797813,*Floof,08/13/2019 10:56:00 AM,Transfer,Partner,Cat,Neutered Male,Domestic Medium Hair,Black,2019-08-13,2019-04-03,132,0.36
15,A800016,*Jackson,08/13/2019 10:56:00 AM,Adoption,Foster,Dog,Intact Male,Chihuahua Shorthair Mix,Tan,2019-08-13,2019-06-03,71,0.19
16,A797817,*Piper,08/13/2019 10:56:00 AM,Transfer,Partner,Cat,Spayed Female,Domestic Shorthair,Calico,2019-08-13,2019-04-03,132,0.36
17,A800998,*Heath,08/13/2019 10:55:00 AM,Transfer,Partner,Dog,Intact Male,Border Collie Mix,Black/White,2019-08-13,2017-07-29,745,2.04
18,A801031,*Margie,08/13/2019 10:55:00 AM,Transfer,Partner,Dog,Spayed Female,German Shepherd,Black/Brown,2019-08-13,2018-01-30,560,1.53
19,A787607,Bobo,08/13/2019 10:55:00 AM,Transfer,Partner,Dog,Neutered Male,Australian Cattle Dog Mix,Black/Tricolor,2019-08-13,2018-11-05,281,0.77
20,A800496,*Marius,08/13/2019 10:54:00 AM,Transfer,Partner,Dog,Intact Male,Staffordshire,Red,2019-08-13,2018-09-22,325,0.89
21,A796087,Daisy,08/13/2019 10:54:00 AM,Transfer,Partner,Dog,Spayed Female,Beagle,White/Brown,2019-08-13,2019-02-28,166,0.45
22,A801528,*Frannie,08/13/2019 10:53:00 AM,Transfer,Partner,Dog,Intact Female,Labrador Retriever/Beagle,Red/White,2019-08-13,2019-02-05,189,0.52
23,A798869,*Willie,08/13/2019 08:58:00 AM,Adoption,Foster,Cat,Neutered Male,Domestic Shorthair,Blue/White,2019-08-13,2019-05-26,79,0.22
24,A798474,*Peep,08/13/2019 08:02:00 AM,Adoption,Foster,Cat,Spayed Female,Domestic Longhair,Black/White,2019-08-13,2019-05-22,83,0.23
25,A795994,NaN,08/13/2019 06:29:00 AM,Adoption,Foster,Dog,Spayed Female,Chihuahua Shorthair,White/Tan,2019-08-13,2019-04-27,108,0.30
26,A800922,Scout,08/12/2019 09:26:00 PM,Adoption,NaN,Dog,Spayed Female,Rat Terrier/Chihuahua Shorthair,Brown/White,2019-08-12,2018-11-28,257,0.70
27,A801728,NaN,08/12/2019 09:25:00 PM,Adoption,NaN,Dog,Neutered Male,Chihuahua Shorthair,Black/White,2019-08-12,2018-08-08,369,1.01
28,A801494,Ramona,08/12/2019 06:47:00 PM,Adoption,NaN,Dog,Spayed Female,Blue Lacy,Blue/White,2019-08-12,2019-06-05,68,0.19
29,A801720,NaN,08/12/2019 06:46:00 PM,Adoption,NaN,Dog,Neutered Male,Miniature Schnauzer,Gray/Brown,2019-08-12,2019-01-08,216,0.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105744,A663887,Hooch,10/01/2013 03:07:00 PM,Euthanasia,Medical,Dog,Neutered Male,Pit Bull Mix,Red/White,2013-10-01,2010-09-25,1102,3.02
105745,A663935,NaN,10/01/2013 02:15:00 PM,Transfer,Partner,Dog,Intact Male,Chihuahua Shorthair Mix,Brown,2013-10-01,1999-09-26,5119,14.02
105746,A663201,Buck,10/01/2013 02:14:00 PM,Transfer,Partner,Dog,Neutered Male,Pit Bull Mix,Brown/White,2013-10-01,2011-09-14,748,2.05
105747,A663955,NaN,10/01/2013 02:13:00 PM,Transfer,Partner,Dog,Intact Female,Chihuahua Shorthair Mix,Black/Tan,2013-10-01,1999-09-27,5118,14.02
105748,A664171,Knight,10/01/2013 01:59:00 PM,Return to Owner,NaN,Dog,Neutered Male,Basset Hound Mix,Black,2013-10-01,2012-12-30,275,0.75
105749,A663938,NaN,10/01/2013 01:16:00 PM,Euthanasia,Suffering,Dog,Neutered Male,Rottweiler/Labrador Retriever,Black/Tan,2013-10-01,2003-09-27,3657,10.02
105750,A664261,NaN,10/01/2013 01:00:00 PM,Transfer,Partner,Cat,Intact Female,Domestic Shorthair Mix,Tortie,2013-10-01,2013-09-10,21,0.06
105751,A664260,NaN,10/01/2013 01:00:00 PM,Transfer,Partner,Cat,Intact Female,Domestic Shorthair Mix,Black/White,2013-10-01,2013-09-10,21,0.06
105752,A664262,NaN,10/01/2013 12:59:00 PM,Transfer,Partner,Cat,Intact Male,Domestic Shorthair Mix,Orange Tabby,2013-10-01,2013-09-22,9,0.02
105753,A664263,NaN,10/01/2013 12:58:00 PM,Transfer,Partner,Cat,Intact Male,Domestic Shorthair Mix,Orange Tabby,2013-10-01,2013-09-22,9,0.02
105754,A664271,NaN,10/01/2013 12:57:00 PM,Transfer,Partner,Cat,Intact Female,Domestic Shorthair Mix,Orange Tabby,2013-10-01,2013-09-24,7,0.02
105755,A663495,Pikachu,10/01/2013 12:45:00 PM,Return to Owner,NaN,Cat,Spayed Female,Domestic Shorthair Mix,Torbie,2013-10-01,2013-05-19,135,0.37
105756,A664219,NaN,10/01/2013 12:34:00 PM,Died,In Kennel,Cat,Intact Male,Domestic Shorthair Mix,Blue/White,2013-10-01,2013-08-08,54,0.15
105757,A613553,Beast,10/01/2013 12:32:00 PM,Return to Owner,NaN,Dog,Neutered Male,Pit Bull Mix,Black/White,2013-10-01,2010-05-06,1244,3.41
105758,A648744,Claire,10/01/2013 12:27:00 PM,Return to Owner,NaN,Dog,Spayed Female,Anatol Shepherd Mix,White/Tricolor,2013-10-01,2012-03-04,576,1.58
105759,A664258,Sylvio,10/01/2013 12:27:00 PM,Return to Owner,NaN,Dog,Neutered Male,Weimaraner Mix,Silver,2013-10-01,2006-10-01,2557,7.01
105760,A663546,*Gage,10/01/2013 12:24:00 PM,Euthanasia,Aggressive,Dog,Neutered Male,American Bulldog Mix,White/Brown Brindle,2013-10-01,2011-09-20,742,2.03
105761,A664225,Lou,10/01/2013 12:13:00 PM,Return to Owner,NaN,Dog,Neutered Male,Shih Tzu Mix,Gray/White,2013-10-01,2010-09-30,1097,3.01
105762,A663342,Deco,10/01/2013 12:05:00 PM,Euthanasia,Behavior,Dog,Neutered Male,Chesa Bay Retr Mix,Red/White,2013-10-01,2012-09-17,379,1.04
105763,A661795,Blakie,10/01/2013 11:53:00 AM,Adoption,NaN,Cat,Spayed Female,Domestic Shorthair Mix,Tortie,2013-10-01,2013-03-25,190,0.52
105764,A656894,Jake,10/01/2013 11:53:00 AM,Adoption,NaN,Cat,Neutered Male,Domestic Shorthair Mix,Black,2013-10-01,2013-04-22,162,0.44
105765,A663833,Baby Girl,10/01/2013 11:50:00 AM,Return to Owner,NaN,Dog,Spayed Female,Labrador Retriever Mix,Black,2013-10-01,2004-09-24,3294,9.02
105766,A663572,*Starla,10/01/2013 11:42:00 AM,Adoption,NaN,Dog,Spayed Female,Anatol Shepherd Mix,White/Brown,2013-10-01,2010-09-21,1106,3.03
105767,A663888,NaN,10/01/2013 11:13:00 AM,Transfer,Partner,Dog,Spayed Female,Boxer Mix,Red/White,2013-10-01,2011-09-25,737,2.02
105768,A663646,NaN,10/01/2013 11:12:00 AM,Transfer,Partner,Dog,Neutered Male,Toy Poodle Mix,White,2013-10-01,2010-09-22,1105,3.03
105769,A664223,Moby,10/01/2013 11:03:00 AM,Return to Owner,NaN,Dog,Neutered Male,Bulldog Mix,White,2013-10-01,2009-09-30,1462,4.01
105770,A664236,NaN,10/01/2013 10:44:00 AM,Transfer,Partner,Cat,Unknown,Domestic Shorthair Mix,Orange/White,2013-10-01,2013-09-24,7,0.02
105771,A664237,NaN,10/01/2013 10:44:00 AM,Transfer,Partner,Cat,Unknown,Domestic Shorthair Mix,Orange/White,2013-10-01,2013-09-24,7,0.02
105772,A664235,NaN,10/01/2013 10:39:00 AM,Transfer,Partner,Cat,Unknown,Domestic Shorthair Mix,Orange/White,2013-10-01,2013-09-24,7,0.02
105773,A659834,*Dudley,10/01/2013 09:31:00 AM,Adoption,Foster,Dog,Neutered Male,Labrador Retriever Mix,Black,2013-10-01,2013-07-23,70,0.19

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

In [35]:
import pandas as pd

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [36]:
uci.groupby('sex')
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### `.groups` and `.get_group()`

In [37]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [38]:
uci.groupby('sex').get_group(0).tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Aggregating

In [39]:
uci.groupby('sex').std()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,9.409396,0.972427,19.311119,65.088946,0.332455,0.557150,20.047969,0.422503,1.119844,0.593736,0.881026,0.441290,0.435286
1,8.883803,1.059064,16.658246,42.782392,0.366955,0.510754,24.130882,0.484505,1.174632,0.627378,1.074082,0.659949,0.498626

Exercise: Tell me the average cholesterol level for those with heart disease.

In [40]:
# Your code here!
uci.groupby('sex').mean().tail()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,55.677083,1.041667,133.083333,261.302083,0.12500,0.572917,151.125000,0.229167,0.876042,1.427083,0.552083,2.125000,0.750000
1,53.758454,0.932367,130.946860,239.289855,0.15942,0.507246,148.961353,0.371981,1.115459,1.386473,0.811594,2.400966,0.449275

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [41]:
# animal_outcomes

In [42]:
animal_outcomes.groupby('Animal Type').mean()

                age_days  age_years
Animal Type
Bird          511.765073   1.401684
Cat           535.882039   1.468075
Dog          1023.789703   2.804899
Livestock     419.687500   1.148750
Other         464.976627   1.273542

In [43]:
animal_outcomes.groupby('Sex upon Outcome').mean()

                    age_days  age_years
Sex upon Outcome
Intact Female     571.466852   1.565578
Intact Male       585.673747   1.604516
Neutered Male     968.579851   2.653635
Spayed Female     938.329629   2.570752
Unknown           340.527304   0.932561

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [44]:
# Your code here

# animal_outcomes['year'] = animal_outcomes.date_outcome.map(lambda x: x.year)
# animal_outcomes['month'] = animal_outcomes.date_outcome.map(lambda x: x.month)
# animal_outcomes[animal_outcomes['Outcome Type']=='Adoption'].\
# groupby(['year','month']).size()

animal_outcomes['year'] = animal_outcomes.date_outcome.map(lambda x: x.year)
animal_outcomes['month'] = animal_outcomes.date_outcome.map(lambda x: x.month)
animal_outcomes[animal_outcomes['Animal Type']=='Dog'].\
groupby(['year','month']).size()

year  month
2013  10        944
      11        825
      12        891
2014  1         860
      2         774
      3         917
      4         847
      5         919
      6         854
      7         959
      8         924
      9         887
      10        855
      11        860
      12        965
2015  1         828
      2         820
      3         800
      4         842
      5        1084
      6         921
      7         860
      8         831
      9         816
      10        786
      11        881
      12        798
2016  1         851
      2         799
      3         857
               ...
2017  3         811
      4         786
      5         918
      6         761
      7         847
      8         826
      9         833
      10        954
      11        701
      12        761
2018  1         769
      2         715
      3         850
      4         805
      5         853
      6         769
      7         858
      8         874
      9         867
      10        860
      11        603
      12        927
2019  1         965
      2         781
      3         978
      4         914
      5         929
      6        1061
      7         951
      8         368
Length: 71, dtype: int64

In [45]:
animal_outcomes.groupby(['Animal Type'])['age_days'].mean()

Animal Type
Bird          511.765073
Cat           535.882039
Dog          1023.789703
Livestock     419.687500
Other         464.976627
Name: age_days, dtype: float64

In [46]:
animal_outcomes.\
groupby(['Animal Type'])['age_years'].mean()

Animal Type
Bird         1.401684
Cat          1.468075
Dog          2.804899
Livestock    1.148750
Other        1.273542
Name: age_years, dtype: float64

In [47]:
animal_outcomes['age_years'] = animal_outcomes.age_days / 365

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [48]:
uci.pivot(values = 'sex', columns = 'target').head()

target   0    1
0      NaN  1.0
1      NaN  1.0
2      NaN  0.0
3      NaN  1.0
4      NaN  0.0

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [56]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
print(toy1)
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])
print(toy2)

   age   HP
0   63  142
1   33   47
   age   HP
0   63  100
1   33  200

In [50]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

### `.merge()`

In [63]:
ds_chars = pd.read_csv('/Users/logananderson/ds_chars.csv', index_col = 0)
ds_chars

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
5  rachel  200        NaN

In [64]:
states = pd.read_csv('states.csv', index_col = 0)
states

  state   nickname     capital
0    WA  evergreen     Olympia
1    TX      alamo      Austin
2    DC   district  Washington
3    OH    buckeye    Columbus
4    OR     beaver       Salem

In [62]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

     name   HP home_state state   nickname     capital
0    greg  200         WA    WA  evergreen     Olympia
1   miles  200         WA    WA  evergreen     Olympia
2    alan  170         TX    TX      alamo      Austin
3  alison  300         DC    DC   district  Washington

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [75]:
pd.concat([ds_chars, states])

/Users/logananderson/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      HP     capital home_state    name   nickname state
0  200.0         NaN         WA    greg        NaN   NaN
1  200.0         NaN         WA   miles        NaN   NaN
2  170.0         NaN         TX    alan        NaN   NaN
3  300.0         NaN         DC  alison        NaN   NaN
5  200.0         NaN        NaN  rachel        NaN   NaN
0    NaN     Olympia        NaN     NaN  evergreen    WA
1    NaN      Austin        NaN     NaN      alamo    TX
2    NaN  Washington        NaN     NaN   district    DC
3    NaN    Columbus        NaN     NaN    buckeye    OH
4    NaN       Salem        NaN     NaN     beaver    OR

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [79]:
ds_chars

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
5  rachel  200        NaN

In [77]:
# ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [81]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

     name    variable value
0    greg          HP   200
1   miles          HP   200
2    alan          HP   170
3  alison          HP   300
4  rachel          HP   200
5    greg  home_state    WA
6   miles  home_state    WA
7    alan  home_state    TX
8  alison  home_state    DC
9  rachel  home_state   NaN

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [137]:
#code here
import pandas as pd
import numpy as np

intake_data = pd.read_csv('https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD')
intake_data

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A733964,Niko,08/13/2019 02:53:00 PM,08/13/2019 02:53:00 PM,3700 Southridge Drive in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,German Shepherd Mix,Black/Brown
1,A766554,Roxy,08/13/2019 02:53:00 PM,08/13/2019 02:53:00 PM,3700 Southridge Drive in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,German Shepherd Mix,Black/Brown
2,A802059,NaN,08/13/2019 02:22:00 PM,08/13/2019 02:22:00 PM,1205 West 22Nd 1/2 Street in Austin (TX),Stray,Normal,Cat,Unknown,1 year,Domestic Shorthair,Black/White
3,A802058,NaN,08/13/2019 02:02:00 PM,08/13/2019 02:02:00 PM,508 East Howard Lane in Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Brown Tabby/White
4,A801855,Stanley,08/13/2019 01:43:00 PM,08/13/2019 01:43:00 PM,Austin (TX),Public Assist,Normal,Dog,Neutered Male,8 years,Chihuahua Shorthair,Brown
5,A802056,NaN,08/13/2019 01:37:00 PM,08/13/2019 01:37:00 PM,6810 Thorncliff in Austin (TX),Stray,Injured,Cat,Spayed Female,6 years,Domestic Shorthair,Black
6,A802053,NaN,08/13/2019 01:28:00 PM,08/13/2019 01:28:00 PM,508 E Howard Lane in Austin (TX),Stray,Injured,Cat,Unknown,2 weeks,Domestic Shorthair,Black
7,A802047,NaN,08/13/2019 01:27:00 PM,08/13/2019 01:27:00 PM,Lott in Austin (TX),Stray,Normal,Dog,Intact Male,5 months,American Pit Bull Terrier,Black/White
8,A802052,NaN,08/13/2019 01:27:00 PM,08/13/2019 01:27:00 PM,5904 Harold Ct in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Beagle/Basset Hound,Brown/White
9,A802054,NaN,08/13/2019 01:22:00 PM,08/13/2019 01:22:00 PM,Long Day Drive And Short Springs Drive in Aust...,Stray,Normal,Dog,Intact Female,1 month,Australian Shepherd,Tan/White
10,A802051,NaN,08/13/2019 01:17:00 PM,08/13/2019 01:17:00 PM,12370 Alameda Trace Circle in Austin (TX),Stray,Injured,Cat,Intact Female,1 year,Domestic Shorthair,White
11,A802050,NaN,08/13/2019 01:12:00 PM,08/13/2019 01:12:00 PM,William Cannon And Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Staffordshire Mix,White/Brown
12,A802049,NaN,08/13/2019 01:08:00 PM,08/13/2019 01:08:00 PM,16704 Hamilton in Austin (TX),Stray,Injured,Cat,Intact Male,3 weeks,Domestic Shorthair,White
13,A802048,Beauty,08/13/2019 12:57:00 PM,08/13/2019 12:57:00 PM,12034 Research in Austin (TX),Stray,Injured,Dog,Spayed Female,1 month,Chihuahua Shorthair,Black
14,A802045,NaN,08/13/2019 12:48:00 PM,08/13/2019 12:48:00 PM,8128 North Interstate Highway 35 in Austin (TX),Stray,Normal,Cat,Intact Male,3 months,Domestic Shorthair,Blue/White
15,A802046,NaN,08/13/2019 12:48:00 PM,08/13/2019 12:48:00 PM,8128 North Interstate Highway 35 in Austin (TX),Stray,Normal,Cat,Intact Female,3 months,Domestic Shorthair,Blue Tabby/White
16,A802044,King,08/13/2019 12:36:00 PM,08/13/2019 12:36:00 PM,1601 South Iinterstae Highway in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Pit Bull,White/Black
17,A802043,NaN,08/13/2019 12:25:00 PM,08/13/2019 12:25:00 PM,6805 Stonleigh in Austin (TX),Stray,Normal,Cat,Unknown,2 months,Domestic Shorthair Mix,Blue
18,A802042,NaN,08/13/2019 12:25:00 PM,08/13/2019 12:25:00 PM,6805 Stonleigh in Austin (TX),Stray,Normal,Cat,Unknown,2 months,Domestic Shorthair Mix,Orange Tabby
19,A609910,Midnight,08/13/2019 12:12:00 PM,08/13/2019 12:12:00 PM,2600 Water Well Ln in Austin (TX),Stray,Injured,Cat,Neutered Male,15 years,Domestic Shorthair Mix,Black
20,A609910,Midnight,08/13/2019 12:12:00 PM,08/13/2019 12:12:00 PM,2600 Water Well Ln in Austin (TX),Stray,Injured,Cat,Neutered Male,15 years,Domestic Shorthair Mix,Black
21,A802038,NaN,08/13/2019 12:05:00 PM,08/13/2019 12:05:00 PM,Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Brown Tabby/White
22,A802039,NaN,08/13/2019 12:05:00 PM,08/13/2019 12:05:00 PM,Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Brown Tabby/White
23,A802040,Bailey,08/13/2019 12:05:00 PM,08/13/2019 12:05:00 PM,4631 Airport Blvd in Austin (TX),Stray,Normal,Dog,Spayed Female,5 years,Pit Bull,Red/White
24,A802037,NaN,08/13/2019 12:05:00 PM,08/13/2019 12:05:00 PM,Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,Domestic Shorthair Mix,Blue Tabby
25,A802035,NaN,08/13/2019 11:52:00 AM,08/13/2019 11:52:00 AM,8900 North Ih 35 in Austin (TX),Stray,Normal,Cat,Intact Male,8 months,Domestic Shorthair,Orange Tabby
26,A802032,Francis,08/13/2019 11:20:00 AM,08/13/2019 11:20:00 AM,2701 Exposition Boulevard in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Labrador Retriever,White/Tan
27,A801877,Cookie,08/13/2019 11:06:00 AM,08/13/2019 11:06:00 AM,Austin (TX),Public Assist,Normal,Dog,Spayed Female,7 years,Dachshund/Chihuahua Shorthair,Brown/White
28,A802022,NaN,08/13/2019 10:47:00 AM,08/13/2019 10:47:00 AM,Bluff Springs Road in Austin (TX),Stray,Nursing,Other,Unknown,3 days,Rabbit Sh,White/Black
29,A802026,NaN,08/13/2019 10:47:00 AM,08/13/2019 10:47:00 AM,Robb-Scott Road in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Labrador Retriever Mix,Black/Tricolor
...,...,...,...,...,...,...,...,...,...,...,...,...
106148,A658012,Lucio,10/01/2013 01:48:00 PM,10/01/2013 01:48:00 PM,1505 Darold Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,3 years,Chihuahua Shorthair Mix,Red
106149,A664274,Estrella,10/01/2013 01:48:00 PM,10/01/2013 01:48:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,8 years,Siberian Husky Mix,Buff
106150,A664253,Moose,10/01/2013 01:44:00 PM,10/01/2013 01:44:00 PM,Austin (TX),Public Assist,Normal,Dog,Neutered Male,2 years,Black/Tan Hound Mix,Black/Brown
106151,A639030,Cate,10/01/2013 01:36:00 PM,10/01/2013 01:36:00 PM,46Th And Ave G in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,German Shepherd Mix,Tan
106152,A664273,Buffy,10/01/2013 01:32:00 PM,10/01/2013 01:32:00 PM,Berkman Dr & Briarcliff Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Dachshund/Chihuahua Shorthair,Brown
106153,A664272,*Grace,10/01/2013 01:12:00 PM,10/01/2013 01:12:00 PM,12005 Garden Grove Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,1 year,Cairn Terrier Mix,Brown
106154,A664271,NaN,10/01/2013 12:35:00 PM,10/01/2013 12:35:00 PM,Spirit Of Texas in Austin (TX),Stray,Normal,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby
106155,A664268,*Kochka,10/01/2013 12:05:00 PM,10/01/2013 12:05:00 PM,Austin (TX),Stray,Normal,Cat,Intact Female,3 years,Russian Blue Mix,Blue
106156,A664267,*Asti,10/01/2013 11:59:00 AM,10/01/2013 11:59:00 AM,12501 Tech Ridge Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Pit Bull Mix,White/Black
106157,A664265,*Dixon,10/01/2013 11:51:00 AM,10/01/2013 11:51:00 AM,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,Domestic Shorthair Mix,Brown Tabby
106158,A664264,*Mason,10/01/2013 11:51:00 AM,10/01/2013 11:51:00 AM,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,Domestic Shorthair Mix,Brown Tabby
106159,A664262,NaN,10/01/2013 11:45:00 AM,10/01/2013 11:45:00 AM,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
106160,A664263,NaN,10/01/2013 11:45:00 AM,10/01/2013 11:45:00 AM,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
106161,A664269,*Bismark,10/01/2013 11:28:00 AM,10/01/2013 11:28:00 AM,7500 S Ih 35 in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Great Pyrenees Mix,White
106162,A664259,*Petunia,10/01/2013 11:25:00 AM,10/01/2013 11:25:00 AM,5001 Creek Bend in Austin (TX),Stray,Normal,Dog,Intact Female,5 years,Pit Bull Mix,Black
106163,A651630,Heather,10/01/2013 11:23:00 AM,10/01/2013 11:23:00 AM,Outside Jurisdiction,Owner Surrender,Injured,Dog,Spayed Female,6 years,Labrador Retriever/Chinese Sharpei,Tan
106164,A664261,NaN,10/01/2013 11:21:00 AM,10/01/2013 11:21:00 AM,3009 Meldrum St in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie
106165,A664260,NaN,10/01/2013 11:21:00 AM,10/01/2013 11:21:00 AM,3009 Meldrum St in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White
106166,A664258,Sylvio,10/01/2013 11:15:00 AM,10/01/2013 11:15:00 AM,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
106167,A648744,Claire,10/01/2013 11:15:00 AM,10/01/2013 11:15:00 AM,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
106168,A664266,NaN,10/01/2013 11:09:00 AM,10/01/2013 11:09:00 AM,Payton And 183 in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Chihuahua Shorthair Mix,Buff
106169,A664257,Pippin,10/01/2013 11:01:00 AM,10/01/2013 11:01:00 AM,Burleson in Travis (TX),Stray,Normal,Dog,Intact Female,4 years,Podengo Pequeno Mix,Black
106170,A664256,*Donnie,10/01/2013 10:59:00 AM,10/01/2013 10:59:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,17 years,Domestic Shorthair Mix,Brown Tabby/White
106171,A664234,NaN,10/01/2013 10:37:00 AM,10/01/2013 10:37:00 AM,5400 Jimmy Clay in Austin (TX),Stray,Injured,Dog,Intact Male,8 years,Border Collie Mix,Black/White
106172,A664238,NaN,10/01/2013 09:33:00 AM,10/01/2013 09:33:00 AM,Outside Jurisdiction,Stray,Normal,Cat,Unknown,4 months,American Shorthair Mix,Black/White
106173,A664233,Stevie,10/01/2013 08:53:00 AM,10/01/2013 08:53:00 AM,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White
106174,A664235,NaN,10/01/2013 08:33:00 AM,10/01/2013 08:33:00 AM,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
106175,A664237,NaN,10/01/2013 08:33:00 AM,10/01/2013 08:33:00 AM,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
106176,A664236,NaN,10/01/2013 08:33:00 AM,10/01/2013 08:33:00 AM,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
106177,A521520,Nina,10/01/2013 07:51:00 AM,10/01/2013 07:51:00 AM,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan

In [138]:
# making a new variable 'intake_data' and chaning the data type to datetime
intake_data['intake_date'] = intake_data['DateTime'].\
map(lambda x : pd.to_datetime(x[:10], format = '%m/%d/%Y', errors='ignore'))

In [139]:
intake_data['year'] = intake_data.intake_date.map(lambda x: x.year)

In [140]:
# creating a new variable 'year'
animal_outcomes['year'] = animal_outcomes.date_outcome.map(lambda x: x.year)

In [141]:
# creating a new df called animal_shelter_df...MERGING DATAFRAMES...intake_data refers to '_intake' and animal_outcomes refers to '_outcome'
animal_shelter_df  = pd.merge(intake_data, animal_outcomes, on=['Animal ID', 'year'], \
                                  how='left', suffixes=('_intake', '_outcome'))

In [144]:
animal_shelter_df

,Animal ID,Name_intake,DateTime_intake,MonthYear_intake,Found Location,Intake Type,Intake Condition,Animal Type_intake,Sex upon Intake,Age upon Intake,...,Animal Type_outcome,Sex upon Outcome,Age upon Outcome,Breed_outcome,Color_outcome,date_outcome,dob,age_days,age_years,month
0,A733964,Niko,08/13/2019 02:53:00 PM,08/13/2019 02:53:00 PM,3700 Southridge Drive in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
1,A766554,Roxy,08/13/2019 02:53:00 PM,08/13/2019 02:53:00 PM,3700 Southridge Drive in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
2,A802059,NaN,08/13/2019 02:22:00 PM,08/13/2019 02:22:00 PM,1205 West 22Nd 1/2 Street in Austin (TX),Stray,Normal,Cat,Unknown,1 year,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
3,A802058,NaN,08/13/2019 02:02:00 PM,08/13/2019 02:02:00 PM,508 East Howard Lane in Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
4,A801855,Stanley,08/13/2019 01:43:00 PM,08/13/2019 01:43:00 PM,Austin (TX),Public Assist,Normal,Dog,Neutered Male,8 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
5,A802056,NaN,08/13/2019 01:37:00 PM,08/13/2019 01:37:00 PM,6810 Thorncliff in Austin (TX),Stray,Injured,Cat,Spayed Female,6 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
6,A802053,NaN,08/13/2019 01:28:00 PM,08/13/2019 01:28:00 PM,508 E Howard Lane in Austin (TX),Stray,Injured,Cat,Unknown,2 weeks,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
7,A802047,NaN,08/13/2019 01:27:00 PM,08/13/2019 01:27:00 PM,Lott in Austin (TX),Stray,Normal,Dog,Intact Male,5 months,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
8,A802052,NaN,08/13/2019 01:27:00 PM,08/13/2019 01:27:00 PM,5904 Harold Ct in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
9,A802054,NaN,08/13/2019 01:22:00 PM,08/13/2019 01:22:00 PM,Long Day Drive And Short Springs Drive in Aust...,Stray,Normal,Dog,Intact Female,1 month,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
10,A802051,NaN,08/13/2019 01:17:00 PM,08/13/2019 01:17:00 PM,12370 Alameda Trace Circle in Austin (TX),Stray,Injured,Cat,Intact Female,1 year,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
11,A802050,NaN,08/13/2019 01:12:00 PM,08/13/2019 01:12:00 PM,William Cannon And Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
12,A802049,NaN,08/13/2019 01:08:00 PM,08/13/2019 01:08:00 PM,16704 Hamilton in Austin (TX),Stray,Injured,Cat,Intact Male,3 weeks,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
13,A802048,Beauty,08/13/2019 12:57:00 PM,08/13/2019 12:57:00 PM,12034 Research in Austin (TX),Stray,Injured,Dog,Spayed Female,1 month,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
14,A802045,NaN,08/13/2019 12:48:00 PM,08/13/2019 12:48:00 PM,8128 North Interstate Highway 35 in Austin (TX),Stray,Normal,Cat,Intact Male,3 months,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
15,A802046,NaN,08/13/2019 12:48:00 PM,08/13/2019 12:48:00 PM,8128 North Interstate Highway 35 in Austin (TX),Stray,Normal,Cat,Intact Female,3 months,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
16,A802044,King,08/13/2019 12:36:00 PM,08/13/2019 12:36:00 PM,1601 South Iinterstae Highway in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
17,A802043,NaN,08/13/2019 12:25:00 PM,08/13/2019 12:25:00 PM,6805 Stonleigh in Austin (TX),Stray,Normal,Cat,Unknown,2 months,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
18,A802042,NaN,08/13/2019 12:25:00 PM,08/13/2019 12:25:00 PM,6805 Stonleigh in Austin (TX),Stray,Normal,Cat,Unknown,2 months,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
19,A609910,Midnight,08/13/2019 12:12:00 PM,08/13/2019 12:12:00 PM,2600 Water Well Ln in Austin (TX),Stray,Injured,Cat,Neutered Male,15 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
20,A609910,Midnight,08/13/2019 12:12:00 PM,08/13/2019 12:12:00 PM,2600 Water Well Ln in Austin (TX),Stray,Injured,Cat,Neutered Male,15 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
21,A802038,NaN,08/13/2019 12:05:00 PM,08/13/2019 12:05:00 PM,Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
22,A802039,NaN,08/13/2019 12:05:00 PM,08/13/2019 12:05:00 PM,Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
23,A802040,Bailey,08/13/2019 12:05:00 PM,08/13/2019 12:05:00 PM,4631 Airport Blvd in Austin (TX),Stray,Normal,Dog,Spayed Female,5 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
24,A802037,NaN,08/13/2019 12:05:00 PM,08/13/2019 12:05:00 PM,Austin (TX),Stray,Normal,Cat,Intact Male,2 weeks,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
25,A802035,NaN,08/13/2019 11:52:00 AM,08/13/2019 11:52:00 AM,8900 North Ih 35 in Austin (TX),Stray,Normal,Cat,Intact Male,8 months,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
26,A802032,Francis,08/13/2019 11:20:00 AM,08/13/2019 11:20:00 AM,2701 Exposition Boulevard in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
27,A801877,Cookie,08/13/2019 11:06:00 AM,08/13/2019 11:06:00 AM,Austin (TX),Public Assist,Normal,Dog,Spayed Female,7 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
28,A802022,NaN,08/13/2019 10:47:00 AM,08/13/2019 10:47:00 AM,Bluff Springs Road in Austin (TX),Stray,Nursing,Other,Unknown,3 days,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
29,A802026,NaN,08/13/2019 10:47:00 AM,08/13/2019 10:47:00 AM,Robb-Scott Road in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121062,A658012,Lucio,10/01/2013 01:48:00 PM,10/01/2013 01:48:00 PM,1505 Darold Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,3 years,...,Dog,Neutered Male,3 years,Chihuahua Shorthair Mix,Red,2013-10-01,2010-07-05,1184.0,3.243836,10.0
121063,A664274,Estrella,10/01/2013 01:48:00 PM,10/01/2013 01:48:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,8 years,...,Dog,Spayed Female,8 years,Siberian Husky Mix,Buff,2013-10-11,2005-10-01,2932.0,8.032877,10.0
121064,A664253,Moose,10/01/2013 01:44:00 PM,10/01/2013 01:44:00 PM,Austin (TX),Public Assist,Normal,Dog,Neutered Male,2 years,...,Dog,Neutered Male,2 years,Black/Tan Hound Mix,Black/Brown,2013-10-07,2011-10-01,737.0,2.019178,10.0
121065,A639030,Cate,10/01/2013 01:36:00 PM,10/01/2013 01:36:00 PM,46Th And Ave G in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,...,Dog,Spayed Female,7 years,German Shepherd Mix,Tan,2013-10-02,2005-10-08,2916.0,7.989041,10.0
121066,A664273,Buffy,10/01/2013 01:32:00 PM,10/01/2013 01:32:00 PM,Berkman Dr & Briarcliff Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,...,Dog,Spayed Female,1 year,Dachshund/Chihuahua Shorthair,Brown,2013-10-13,2012-04-01,560.0,1.534247,10.0
121067,A664272,*Grace,10/01/2013 01:12:00 PM,10/01/2013 01:12:00 PM,12005 Garden Grove Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,1 year,...,Dog,Spayed Female,1 year,Cairn Terrier Mix,Brown,2013-11-17,2012-10-01,412.0,1.128767,11.0
121068,A664271,NaN,10/01/2013 12:35:00 PM,10/01/2013 12:35:00 PM,Spirit Of Texas in Austin (TX),Stray,Normal,Cat,Intact Female,1 week,...,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby,2013-10-01,2013-09-24,7.0,0.019178,10.0
121069,A664268,*Kochka,10/01/2013 12:05:00 PM,10/01/2013 12:05:00 PM,Austin (TX),Stray,Normal,Cat,Intact Female,3 years,...,Cat,Spayed Female,3 years,Russian Blue Mix,Blue,2013-11-04,2010-10-01,1130.0,3.095890,11.0
121070,A664267,*Asti,10/01/2013 11:59:00 AM,10/01/2013 11:59:00 AM,12501 Tech Ridge Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,...,Dog,Intact Female,4 months,Pit Bull Mix,White/Black,2013-10-08,2013-05-17,144.0,0.394521,10.0
121071,A664265,*Dixon,10/01/2013 11:51:00 AM,10/01/2013 11:51:00 AM,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,...,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby,2013-10-12,2013-07-17,87.0,0.238356,10.0
121072,A664264,*Mason,10/01/2013 11:51:00 AM,10/01/2013 11:51:00 AM,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,...,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby,2013-10-14,2013-07-17,89.0,0.243836,10.0
121073,A664262,NaN,10/01/2013 11:45:00 AM,10/01/2013 11:45:00 AM,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,1 weeks,...,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby,2013-10-01,2013-09-22,9.0,0.024658,10.0
121074,A664263,NaN,10/01/2013 11:45:00 AM,10/01/2013 11:45:00 AM,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,1 weeks,...,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby,2013-10-01,2013-09-22,9.0,0.024658,10.0
121075,A664269,*Bismark,10/01/2013 11:28:00 AM,10/01/2013 11:28:00 AM,7500 S Ih 35 in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,...,Dog,Neutered Male,2 years,Great Pyrenees Mix,White,2013-10-19,2011-10-01,749.0,2.052055,10.0
121076,A664259,*Petunia,10/01/2013 11:25:00 AM,10/01/2013 11:25:00 AM,5001 Creek Bend in Austin (TX),Stray,Normal,Dog,Intact Female,5 years,...,Dog,Intact Female,5 years,Pit Bull Mix,Black,2013-10-18,2008-10-01,1843.0,5.049315,10.0
121077,A651630,Heather,10/01/2013 11:23:00 AM,10/01/2013 11:23:00 AM,Outside Jurisdiction,Owner Surrender,Injured,Dog,Spayed Female,6 years,...,Dog,Spayed Female,6 years,Labrador Retriever/Chinese Sharpei,Tan,2013-12-31,2007-04-13,2454.0,6.723288,12.0
121078,A664261,NaN,10/01/2013 11:21:00 AM,10/01/2013 11:21:00 AM,3009 Meldrum St in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,...,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie,2013-10-01,2013-09-10,21.0,0.057534,10.0
121079,A664260,NaN,10/01/2013 11:21:00 AM,10/01/2013 11:21:00 AM,3009 Meldrum St in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,...,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White,2013-10-01,2013-09-10,21.0,0.057534,10.0
121080,A664258,Sylvio,10/01/2013 11:15:00 AM,10/01/2013 11:15:00 AM,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Neutered Male,7 years,...,Dog,Neutered Male,7 years,Weimaraner Mix,Silver,2013-10-01,2006-10-01,2557.0,7.005479,10.0
121081,A648744,Claire,10/01/2013 11:15:00 AM,10/01/2013 11:15:00 AM,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Spayed Female,1 year,...,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor,2013-10-01,2012-03-04,576.0,1.578082,10.0
121082,A664266,NaN,10/01/2013 11:09:00 AM,10/01/2013 11:09:00 AM,Payton And 183 in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,...,Dog,Intact Female,1 year,Chihuahua Shorthair Mix,Buff,2013-10-05,2012-04-01,552.0,1.512329,10.0
121083,A664257,Pippin,10/01/2013 11:01:00 AM,10/01/2013 11:01:00 AM,Burleson in Travis (TX),Stray,Normal,Dog,Intact Female,4 years,...,Dog,Spayed Female,4 years,Podengo Pequeno Mix,Black,2013-10-24,2009-10-01,1484.0,4.065753,10.0
121084,A664256,*Donnie,10/01/2013 10:59:00 AM,10/01/2013 10:59:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,17 years,...,Cat,Neutered Male,17 years,Domestic Shorthair Mix,Brown Tabby/White,2013-10-10,1996-10-01,6218.0,17.035616,10.0
121085,A664234,NaN,10/01/2013 10:37:00 AM,10/01/2013 10:37:00 AM,5400 Jimmy Clay in Austin (TX),Stray,Injured,Dog,Intact Male,8 years,...,Dog,Intact Male,8 years,Border Collie Mix,Black/White,2013-10-01,2005-10-01,2922.0,8.005479,10.0
121086,A664238,NaN,10/01/2013 09:33:00 AM,10/01/2013 09:33:00 AM,Outside Jurisdiction,Stray,Normal,Cat,Unknown,4 months,...,Cat,Unknown,4 months,American Shorthair Mix,Black/White,2013-10-01,2013-06-01,122.0,0.334247,10.0
121087,A664233,Stevie,10/01/2013 08:53:00 AM,10/01/2013 08:53:00 AM,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,...,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White,2013-10-01,2010-09-30,1097.0,3.005479,10.0
121088,A664235,NaN,10/01/2013 08:33:00 AM,10/01/2013 08:33:00 AM,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,...,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,2013-10-01,2013-09-24,7.0,0.019178,10.0
121089,A664237,NaN,10/01/2013 08:33:00 AM,10/01/2013 08:33:00 AM,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,...,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,2013-10-01,2013-09-24,7.0,0.019178,10.0
121090,A664236,NaN,10/01/2013 08:33:00 AM,10/01/2013 08:33:00 AM,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,...,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,2013-10-01,2013-09-24,7.0,0.019178,10.0
121091,A521520,Nina,10/01/2013 07:51:00 AM,10/01/2013 07:51:00 AM,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,...,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan,2013-10-01,2006-09-07,2581.0,7.071233,10.0

In [146]:
# .dt.days calculates the number of days and it is stored in 'days in shelter'(which should be a column)

animal_shelter_df['days_in_shelter'] = (animal_shelter_df.date_outcome -\
                                       animal_shelter_df.intake_date).dt.days

In [147]:

animal_shelter_df['rounded_age'] = round(animal_shelter_df.age_years)

In [148]:
pd.options.display.max_rows
pd.set_option("display.max_rows", 999)

In [149]:
# because most of the numbers are 0 from the calculation above, we are going to round (this is why >=0 is there)
animal_shelter_df[(animal_shelter_df.days_in_shelter >=0) &\
                 (animal_shelter_df.year == 2018)].\
pivot_table(values='days_in_shelter',\
            index=['Animal Type_intake'],\
           columns = 'Outcome Type')

Outcome Type,Adoption,Died,Disposal,Euthanasia,Missing,Relocate,Return to Owner,Rto-Adopt,Transfer
Animal Type_intake,,,,,,,,,
Bird,16.351852,4.857143,6.000000,0.000000,NaN,0.0,1.285714,NaN,6.555556
Cat,34.657075,9.135417,5.000000,3.597561,43.0,NaN,9.547468,14.611111,7.776727
Dog,26.277369,8.871795,NaN,8.273973,4.0,NaN,16.167159,36.430233,16.388350
Livestock,37.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other,26.133333,1.269231,2.765957,0.547576,24.0,0.0,2.666667,NaN,2.990826

In [150]:
animal_shelter_df[(animal_shelter_df.days_in_shelter >=0) &\
                 (animal_shelter_df.year == 2018)].\
pivot_table(values='days_in_shelter',\
            index=['Animal Type_intake', 'rounded_age'],\
           columns = 'Outcome Type')

Outcome Type                     Adoption       Died   Disposal  Euthanasia  \
Animal Type_intake rounded_age
Bird               0.0           7.000000   5.000000        NaN    0.000000
                   1.0          18.904762   9.000000   6.000000    0.000000
                   2.0           8.600000   2.000000        NaN    0.000000
                   3.0           6.000000        NaN        NaN    0.000000
                   6.0                NaN        NaN        NaN         NaN
                   8.0                NaN        NaN        NaN         NaN
                   18.0               NaN        NaN        NaN         NaN
Cat                0.0          33.392037  11.600000        NaN    4.770492
                   1.0          37.589074   5.272727        NaN    1.680000
                   2.0          31.258427   1.750000   5.000000    1.076923
                   3.0          38.888889   1.500000        NaN    4.200000
                   4.0          43.119403        NaN        NaN    0.000000
                   5.0          33.694444   1.500000        NaN    1.076923
                   6.0          34.911765  11.000000        NaN   25.833333
                   7.0          33.363636   5.000000        NaN    2.000000
                   8.0          41.234043        NaN        NaN    1.750000
                   9.0          36.250000        NaN        NaN    0.000000
                   10.0         40.482759   2.000000        NaN    2.857143
                   11.0         43.200000        NaN        NaN    0.000000
                   12.0         53.272727   8.000000        NaN    0.250000
                   13.0         20.666667        NaN        NaN         NaN
                   14.0         34.666667   4.000000        NaN         NaN
                   15.0         50.857143        NaN        NaN    0.000000
                   16.0         93.000000        NaN        NaN         NaN
                   17.0               NaN        NaN        NaN         NaN
                   18.0          3.000000        NaN        NaN    0.000000
                   19.0         10.000000        NaN        NaN         NaN
                   20.0               NaN        NaN        NaN         NaN
Dog                0.0          13.922907   3.352941        NaN    2.529412
                   1.0          24.034965   3.600000        NaN    4.700000
                   2.0          30.851703   3.400000        NaN   16.454545
                   3.0          44.503086   9.000000        NaN   40.666667
                   4.0          41.628272  62.000000        NaN    0.000000
                   5.0          31.683230  80.500000        NaN   28.800000
                   6.0          42.857143        NaN        NaN    1.000000
                   7.0          42.756410   1.000000        NaN    1.666667
                   8.0          36.000000   1.500000        NaN    3.400000
                   9.0          47.327869        NaN        NaN    0.000000
                   10.0         38.734694   5.000000        NaN    0.666667
                   11.0         34.812500        NaN        NaN   18.000000
                   12.0         42.555556   2.000000        NaN         NaN
                   13.0         47.555556   0.000000        NaN    1.000000
                   14.0         42.857143        NaN        NaN    0.500000
                   15.0          3.666667        NaN        NaN    0.500000
                   16.0         51.666667        NaN        NaN    1.000000
                   17.0         85.000000        NaN        NaN         NaN
                   18.0          4.000000        NaN        NaN         NaN
                   19.0               NaN        NaN        NaN         NaN
                   20.0               NaN        NaN        NaN         NaN
                   24.0               NaN        NaN        NaN         NaN
Livestock          0.0                NaN   0.000000        NaN         NaN
                   2.0          37.000000        NaN        NaN         NaN
Other              0.0          10.250000   0.000000   6.000000    0.421053
                   1.0          29.518519   0.615385   2.222222    0.582492
                   2.0          23.400000   3.571429   1.384615    0.537736
                   3.0          11.200000        NaN  11.000000    0.250000
                   4.0          15.000000        NaN        NaN    0.142857
                   5.0                NaN   0.000000        NaN    3.000000
                   7.0          20.000000        NaN        NaN         NaN
                   9.0                NaN        NaN        NaN         NaN
                   10.0               NaN        NaN        NaN    1.000000

Outcome Type                    Missing  Relocate  Return to Owner  \
Animal Type_intake rounded_age
Bird               0.0              NaN       0.0              NaN
                   1.0              NaN       NaN         1.000000
                   2.0              NaN       NaN              NaN
                   3.0              NaN       NaN              NaN
                   6.0              NaN       NaN         3.000000
                   8.0              NaN       NaN              NaN
                   18.0             NaN       0.0              NaN
Cat                0.0             27.0       NaN         5.612903
                   1.0             59.0       NaN        12.948276
                   2.0              NaN       NaN         7.913043
                   3.0              NaN       NaN        15.476190
                   4.0              NaN       NaN         7.000000
                   5.0              NaN       NaN        12.388889
                   6.0              NaN       NaN        10.625000
                   7.0              NaN       NaN         3.315789
                   8.0              NaN       NaN        17.333333
                   9.0              NaN       NaN         5.250000
                   10.0             NaN       NaN         4.000000
                   11.0             NaN       NaN         2.333333
                   12.0             NaN       NaN         4.000000
                   13.0             NaN       NaN         2.600000
                   14.0             NaN       NaN         5.500000
                   15.0             NaN       NaN         2.000000
                   16.0             NaN       NaN         8.000000
                   17.0             NaN       NaN         0.750000
                   18.0             NaN       NaN         3.500000
                   19.0             NaN       NaN              NaN
                   20.0             NaN       NaN         2.666667
Dog                0.0              NaN       NaN         4.316667
                   1.0              NaN       NaN        10.036977
                   2.0              NaN       NaN        11.507962
                   3.0              4.0       NaN        37.815068
                   4.0              NaN       NaN        27.125000
                   5.0              NaN       NaN        16.926316
                   6.0              NaN       NaN        18.602837
                   7.0              NaN       NaN        12.440559
                   8.0              NaN       NaN         8.765766
                   9.0              NaN       NaN         7.928571
                   10.0             NaN       NaN        13.086538
                   11.0             NaN       NaN         7.333333
                   12.0             NaN       NaN         8.068182
                   13.0             NaN       NaN         3.066667
                   14.0             NaN       NaN         9.360000
                   15.0             NaN       NaN         1.714286
                   16.0             NaN       NaN         1.666667
                   17.0             NaN       NaN         2.666667
                   18.0             NaN       NaN         3.600000
                   19.0             NaN       NaN        15.000000
                   20.0             NaN       NaN         0.500000
                   24.0             NaN       NaN         0.000000
Livestock          0.0              NaN       NaN              NaN
                   2.0              NaN       NaN              NaN
Other              0.0              NaN       0.0              NaN
                   1.0             24.0       NaN         3.000000
                   2.0              NaN       NaN              NaN
                   3.0              NaN       NaN         1.000000
                   4.0              NaN       NaN              NaN
                   5.0              NaN       NaN              NaN
                   7.0              NaN       NaN              NaN
                   9.0              NaN       NaN              NaN
                   10.0             NaN       NaN              NaN

Outcome Type                     Rto-Adopt   Transfer
Animal Type_intake rounded_age
Bird               0.0                 NaN   6.000000
                   1.0                 NaN   8.625000
                   2.0                 NaN   3.000000
                   3.0                 NaN        NaN
                   6.0                 NaN        NaN
                   8.0                 NaN   1.000000
                   18.0                NaN        NaN
Cat                0.0           12.000000   5.133225
                   1.0           15.166667   8.837012
                   2.0           11.600000   9.447917
                   3.0            9.250000  20.324675
                   4.0           10.000000  10.390244
                   5.0           33.333333  14.829268
                   6.0           19.000000  21.150000
                   7.0           17.500000  12.550000
                   8.0           27.000000  13.083333
                   9.0                 NaN  19.700000
                   10.0          10.500000   6.806452
                   11.0          14.000000  10.142857
                   12.0          18.000000   8.400000
                   13.0           4.000000  24.375000
                   14.0                NaN   5.307692
                   15.0                NaN  17.555556
                   16.0                NaN        NaN
                   17.0                NaN        NaN
                   18.0                NaN   4.000000
                   19.0                NaN        NaN
                   20.0                NaN        NaN
Dog                0.0           10.600000   5.980600
                   1.0           17.794872  18.891803
                   2.0           16.102564  22.219277
                   3.0           43.210526  29.898551
                   4.0          141.222222  28.059524
                   5.0           25.315789  21.121951
                   6.0           49.666667  12.945455
                   7.0           41.100000   9.723404
                   8.0           29.166667  12.039216
                   9.0            9.666667  16.272727
                   10.0           3.500000   7.148936
                   11.0           4.333333  13.000000
                   12.0                NaN   5.941176
                   13.0         102.000000  53.500000
                   14.0           6.000000  17.625000
                   15.0                NaN   5.000000
                   16.0                NaN   1.000000
                   17.0                NaN        NaN
                   18.0                NaN        NaN
                   19.0                NaN        NaN
                   20.0                NaN        NaN
                   24.0                NaN        NaN
Livestock          0.0                 NaN        NaN
                   2.0                 NaN        NaN
Other              0.0                 NaN   2.024390
                   1.0                 NaN   3.500000
                   2.0                 NaN   5.777778
                   3.0                 NaN   1.333333
                   4.0                 NaN   3.500000
                   5.0                 NaN        NaN
                   7.0                 NaN        NaN
                   9.0                 NaN   1.000000
                   10.0                NaN        NaN