# Data Cleaning with Pandas

In [8]:
import pandas as pd

### Learning Goals:

- practice cleaning a real dataset
- practice using `py` files and the terminal in conjunction with jupyter notebooks
- run a `py` script through the terminal

## Scenario

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

### First, get the data!

When working on a project involving data that can fit on our computer, we store it in a `data` directory.

```bash
cd <project_directory>  # example: cd ~/flatiron_ds/pandas-3
mkdir data
cd data
```

Note that `<project_directory>` in angle brackets is a _placeholder_. You should type the path to the actual location on your computer where you're working on this project. Do not literally type `<project_directory>` and _do not type the angle brackets_. You can see an example in the _comment_ to the right of the command above.

![terminal](https://media3.giphy.com/media/yR4xZagT71AAM/giphy.gif?cid=790b76115d3620444553533759086a54&rid=giphy.gif)

Now, we'll need to download the two data files that we need. We can do this at the command line:

```bash
wget https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip
wget https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip
```

*Note:* If you do not have the `wget` command yet, you can install it with `brew install wget`, or use `curl <url> -o <filename>`.

Note that `%20` in a URL translates into a space. Even though you will *never put spaces in filenames*, you may need to deal with spaces that _other_ people have used in filenames.

There are two ways to handle the spaces in these filenames when referencing them at the command line.
![internetgif](https://media2.giphy.com/media/QWkuGmMgphvmE/giphy.gif?cid=790b76115d361f42304a6850369f37ea&rid=giphy.gif)

In [25]:
sales_df = pd.read_csv('RealPropertySales.zip')
sales_df

/Users/logananderson/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,1056831,951120,900,04/20/1989,85000,198904260448,117,053,951120,P,...,3,0,2,N,N,N,N,1,9,49
5,1971467,605475,10,07/07/2003,0,20030708003207,,,,,...,6,2,22,N,N,N,N,8,3,12 31 51
6,1813750,122209,9002,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
7,1813750,122209,9001,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
8,1813750,12307,9020,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
9,1813750,12307,9005,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
10,1813750,22209,9001,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
11,1813750,22209,9003,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
12,1813750,342309,9012,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
13,1813750,342309,9011,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
14,1813750,342309,9015,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
15,1813750,342309,9010,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
16,1813750,22307,9060,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
17,1813750,182210,9001,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
18,1813750,282309,9011,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
19,1813750,332309,9004,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
20,1813750,22209,9007,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
21,1813750,22209,9002,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
22,1813750,22209,9006,04/25/2001,5755000,20010426001305,,,,,...,1,9,3,N,N,N,N,1,7,11 16 45
23,2527420,730890,565,11/28/2011,0,20120126000221,,,,,...,3,6,4,N,N,N,N,8,8,12 31 51
24,1225733,721481,90,01/03/1992,193000,199201090412,110,041,721481,P,...,3,0,2,N,N,N,N,18,8,41
25,1420464,178695,10,03/14/1995,25000,199503200247,068,036,178695,C,...,3,2,15,N,N,N,N,9,3,11
26,1323495,112604,9035,07/29/1993,0,199308052071,000,000,000000,,...,3,0,15,N,N,N,N,18,2,11
27,1323495,112604,9039,07/29/1993,0,199308052071,000,000,000000,,...,3,0,15,N,N,N,N,18,2,11
28,2141288,211430,160,07/18/2005,417000,20050725002812,,,,,...,3,6,3,N,N,N,N,1,8,
29,1582310,717370,350,12/01/1997,0,199712082058,002,087,717370,P,...,3,6,15,N,N,N,N,14,8,32 51 52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2037921,2533966,811310,1400,03/09/2012,0,20120315001618,,,,,...,3,6,18,N,N,N,N,4,8,13 31
2037922,1415240,327589,450,02/01/1995,318000,199502060053,160,017,327589,P,...,3,0,2,N,N,N,N,1,8,
2037923,1644883,927420,1695,10/16/1998,245000,199810191905,003,053,927420,P,...,3,6,3,N,N,N,N,8,8,12
2037924,2079906,753990,140,10/18/2004,437600,20041028001782,,,,,...,3,6,3,N,N,N,N,1,8,
2037925,2858595,701682,70,02/16/2017,0,20170414000355,,,,,...,3,2,15,N,N,N,N,5,3,18 31 51
2037926,1430148,334270,495,05/22/1995,0,199505261015,011,064,334270,P,...,3,6,15,N,N,N,N,18,8,11
2037927,2379641,783480,40,02/05/2009,388000,20090210001748,,,,,...,3,6,3,N,N,N,N,1,8,
2037928,1962058,570000,3500,05/23/2003,890000,20030530000908,,,,,...,3,6,3,N,N,N,N,1,8,
2037929,2140952,397170,1625,06/20/2005,0,20050722001940,,,,,...,3,6,15,N,N,N,N,13,8,18 31 51
2037930,2578376,725000,95,12/05/2012,236241,20121210001704,,,,,...,3,6,18,,,,,4,8,13 16 31
2037931,2458529,775160,70,08/30/2010,99360,20100916000178,,,,,...,2,6,15,N,N,N,N,1,8,18 51
2037932,2009876,410491,20,12/18/2003,0,20031223001596,,,,,...,3,6,15,N,N,N,N,1,8,18 51
2037933,2469606,182306,9166,07/13/2010,0,20101208001156,,,,,...,3,6,4,N,N,N,N,16,8,16 20 31
2037934,2490201,184310,140,05/05/2011,280000,20110506000897,,,,,...,3,6,3,N,N,N,N,1,8,
2037935,2947460,305750,50,08/09/2018,0,20180815000492,,,,,...,3,2,15,N,N,N,N,13,3,18 31 51
2037936,1658234,272306,9061,12/23/1998,404000,199812241990,000,000,000000,,...,3,6,18,N,N,N,N,5,8,
2037937,2373654,197720,920,12/01/2008,16330000,20081210000615,,,,,...,3,7,3,N,N,N,N,1,2,
2037938,2093506,195090,295,12/27/2004,208500,20041230000726,,,,,...,3,6,3,N,N,N,N,1,8,
2037939,2046680,803070,50,06/09/2004,217900,20040614002047,,,,,...,3,2,3,N,N,N,N,1,3,
2037940,2246846,277160,1860,10/26/2006,0,20061031001077,,,,,...,3,6,15,N,N,N,N,13,8,18 31 51
2037941,2151494,733640,110,08/26/2005,200000,20050831002862,,,,,...,3,2,3,N,N,N,N,1,3,
2037942,2501538,755130,60,07/19/2011,350000,20110721000548,,,,,...,3,6,3,N,N,N,N,8,8,12
2037943,1836718,809260,80,08/20/2001,145000,20010821000534,,,,,...,3,6,3,N,N,N,N,1,8,
2037944,2478218,22790,20,02/09/2011,353000,20110210001663,,,,,...,3,6,3,N,N,N,N,1,8,
2037945,2882025,19110,1280,08/02/2017,875000,20170808001004,,,,,...,3,6,3,N,N,N,N,1,8,
2037946,2005803,427910,160,12/01/2003,312000,20031203001314,,,,,...,3,2,3,N,N,N,N,1,3,
2037947,2696391,114200,900,09/02/2014,0,20141020001316,,,,,...,1,7,18,N,N,N,N,1,1,11 31 32
2037948,2773916,142800,405,12/17/2015,265000,20151229001458,,,,,...,4,6,3,N,N,N,N,1,9,26 49
2037949,2238572,186890,2825,09/15/2006,584000,20060922001274,,,,,...,3,6,3,N,N,N,N,1,8,26
2037950,1340114,501500,1550,10/22/1993,0,199311011707,009,061,501500,P,...,1,0,15,N,N,N,N,9,7,32

#### 1. You can _escape_ the spaces by putting a backslash (`\`, remember _backslash is next to backspace_) before each one:

`unzip Real\ Property\ Sales.zip`

This is what happens if you tab-complete the filename in the terminal. Tab completion is your friend!

#### 2. You can put the entire filename in quotes:

`unzip "Real Property Sales.zip"`

Try unzipping these files with the `unzip` command. The `unzip` command takes one argument, the name of the file that you want to unzip.

In [20]:
bldg_df = pd.read_csv('ResidentialBuilding.zip')
bldg_df

/Users/logananderson/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,4000,398,1,1,14415 45TH LN S,14415,,,45TH,LN,...,0,0,0,2018,0,0,0,0,3,0
1,4000,460,1,1,4226 S 146TH ST 98168,4226,,S,146TH,ST,...,0,0,0,1993,0,0,0,0,3,5000
2,4000,635,1,1,4831 S 146TH ST 98168,4831,,S,146TH,ST,...,0,0,0,1943,0,0,0,0,3,0
3,4000,736,1,1,4429 S 146TH ST 98168,4429,,S,146TH,ST,...,0,0,0,1960,2012,0,0,0,3,0
4,4100,230,1,1,14835 42ND AVE S 98168,14835,,,42ND,AVE,...,0,0,0,1962,0,0,0,0,3,0
5,4100,261,1,1,4030 S 150TH ST 98188,4030,,S,150TH,ST,...,1,0,1,1964,0,0,0,0,5,0
6,4100,283,1,1,4010 S 150TH ST 98188,4010,,S,150TH,ST,...,0,0,0,1939,0,0,0,0,3,0
7,4100,283,2,1,4010 S 150TH ST 98188,4010,,S,150TH,ST,...,0,0,0,1918,0,0,0,0,3,0
8,4100,290,1,1,3814 S 150TH ST 98188,3814,,S,150TH,ST,...,0,0,0,1930,0,0,0,0,3,0
9,4100,536,3,2,3705 S 150TH ST 98188,3705,,S,150TH,ST,...,0,0,0,1947,0,0,0,0,3,0
10,4100,536,4,1,3705 S 150TH ST 98188,3705,,S,150TH,ST,...,0,0,0,1947,0,0,0,0,3,0
11,4100,536,1,1,3705 S 150TH ST 98188,3705,,S,150TH,ST,...,0,0,0,1970,0,0,0,0,3,0
12,4100,536,2,3,3705 S 150TH ST 98188,3705,,S,150TH,ST,...,0,0,0,1960,0,0,0,0,3,0
13,4100,552,1,1,4001 S 150TH ST 98188,4001,,S,150TH,ST,...,0,0,0,1931,0,0,0,0,3,0
14,4100,642,1,2,3742 S 152ND ST 98188,3742,,S,152ND,ST,...,0,0,0,1954,0,0,0,0,3,0
15,4200,33,1,1,4257 S 148TH ST 98168,4257,,S,148TH,ST,...,0,0,0,2001,0,0,0,0,3,0
16,4300,164,1,1,15229 40TH AVE S 98188,15229,,,40TH,AVE,...,1,1,1,1964,0,0,0,0,3,0
17,4300,199,1,1,3726 SOUTHCENTER BLVD,3726,,,SOUTHCENTER,BLVD,...,0,0,0,2016,0,0,0,0,3,0
18,4300,225,1,1,4024 SOUTHCENTER BLVD 98188,4024,,,SOUTHCENTER,BLVD,...,0,0,1,1953,0,0,0,0,4,0
19,4300,270,1,1,15421 42ND AVE S 98188,15421,,,42ND,AVE,...,0,0,0,1956,0,0,0,0,3,0
20,4610,100,1,1,4368 E MERCER WAY 98040,4368,,E,MERCER,WAY,...,1,0,1,1954,1990,0,0,0,3,6500
21,4610,350,1,1,4421 FERNCROFT RD 98040,4421,,,FERNCROFT,RD,...,1,0,0,2008,0,0,0,0,3,16000
22,4610,506,1,1,4530 FERNCROFT RD 98040,4530,,,FERNCROFT,RD,...,1,1,1,1978,0,0,0,0,3,0
23,4900,5,1,1,3128 SW 105TH ST 98146,3128,,SW,105TH,ST,...,1,0,1,1955,0,0,0,0,4,0
24,4000,396,1,1,14407 45TH LN S,14407,,,45TH,LN,...,0,0,0,2018,0,0,0,0,3,0
25,4000,408,1,1,14447 46TH AVE S 98168,14447,,,46TH,AVE,...,1,0,1,1947,0,0,0,0,3,0
26,4000,515,1,1,14420 48TH PL S 98168,14420,,,48TH,PL,...,1,0,1,1953,0,0,0,0,3,0
27,4000,710,1,1,4219 S 146TH ST 98168,4219,,S,146TH,ST,...,1,0,1,1900,1980,0,0,0,3,0
28,4000,957,1,1,4054 S S 148TH ST 98168,4054,S,S,148TH,ST,...,0,0,0,1997,0,0,0,0,3,0
29,4000,968,1,1,4028 S 148TH ST 98168,4028,,S,148TH,ST,...,0,0,0,1997,0,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513212,790537,580,1,1,13601 98TH AVE NE 98034,13601,,,98TH,AVE,...,1,0,0,1977,0,0,0,0,3,0
513213,790538,440,1,1,13522 92ND PL NE 98034,13522,,,92ND,PL,...,0,1,0,1971,0,0,0,0,4,0
513214,790538,790,1,1,13517 95TH AVE NE 98034,13517,,,95TH,AVE,...,0,0,0,1974,0,0,0,0,4,0
513215,790538,880,1,1,13608 94TH AVE NE 98034,13608,,,94TH,AVE,...,1,0,1,1973,0,0,0,0,3,0
513216,790539,220,1,1,9426 NE 137TH ST 98034,9426,,NE,137TH,ST,...,0,0,0,1972,0,0,0,0,3,0
513217,790540,60,1,1,5145 S 329TH PL 98001,5145,,S,329TH,PL,...,0,1,0,1968,0,0,0,0,3,0
513218,790540,160,1,1,5112 S 329TH PL 98001,5112,,S,329TH,PL,...,0,0,0,1968,0,0,0,0,4,0
513219,790760,75,1,1,237 SW 114TH ST 98146,237,,SW,114TH,ST,...,0,0,0,1954,0,0,0,0,3,0
513220,790760,122,1,1,216 SW 115TH ST 98146,216,,SW,115TH,ST,...,1,0,1,1967,0,0,0,0,4,0
513221,791510,75,1,1,3239 39TH AVE SW 98116,3239,,,39TH,AVE,...,0,0,0,1906,0,0,0,0,3,0
513222,791510,430,1,1,3207 WALNUT AVE SW 98116,3207,,,WALNUT,AVE,...,0,0,0,1918,0,0,0,0,4,10000
513223,792010,5,1,1,2411 NE 70TH ST 98115,2411,,NE,70TH,ST,...,0,0,0,2016,0,0,0,0,3,0
513224,792010,125,1,1,6830 26TH AVE NE 98115,6830,,,26TH,AVE,...,1,0,1,1921,0,0,0,0,4,0
513225,792270,90,1,1,15303 NE 68TH ST 98052,15303,,NE,68TH,ST,...,1,0,1,1972,0,0,0,0,3,0
513226,792270,610,1,1,6910 150TH AVE NE 98052,6910,,,150TH,AVE,...,1,0,1,1967,0,0,0,0,4,0
513227,792271,250,1,1,6810 149TH AVE NE 98052,6810,,,149TH,AVE,...,0,0,0,1974,0,0,0,0,3,0
513228,792271,660,1,1,6323 150TH AVE NE 98052,6323,,,150TH,AVE,...,0,0,0,1973,0,0,0,0,3,0
513229,792271,780,1,1,6313 151ST AVE NE 98052,6313,,,151ST,AVE,...,0,0,0,1973,0,0,0,0,3,0
513230,792272,20,1,1,15116 NE 67TH PL 98052,15116,,NE,67TH,PL,...,0,0,1,1976,0,0,0,0,4,0
513231,792272,50,1,1,15115 152ND AVE NE 98052,15115,,,152ND,AVE,...,1,0,1,1976,0,0,0,0,4,0
513232,792272,350,1,1,6518 152ND AVE NE 98052,6518,,,152ND,AVE,...,1,0,1,1975,0,0,0,0,3,0
513233,792280,320,1,1,2514 166TH AVE SE 98008,2514,,,166TH,AVE,...,1,0,1,1962,0,0,0,0,4,0
513234,792290,300,1,1,16654 SE 26TH PL 98008,16654,,SE,26TH,PL,...,1,0,1,1963,0,0,0,0,3,0
513235,792290,400,1,1,16641 SE 26TH PL 98008,16641,,SE,26TH,PL,...,1,0,1,1963,0,0,0,0,3,0
513236,792310,220,1,1,3006 162ND PL SE 98008,3006,,,162ND,PL,...,0,0,0,1994,0,0,0,0,3,0
513237,792310,380,1,1,16119 SE 31ST ST 98008,16119,,SE,31ST,ST,...,0,0,0,1966,0,0,0,0,3,0
513238,792310,500,1,1,16275 SE 31ST ST 98008,16275,,SE,31ST,ST,...,0,0,0,1966,0,0,0,0,4,0
513239,792310,540,1,1,2913 162ND AVE SE 98008,2913,,,162ND,AVE,...,0,0,0,1966,0,0,0,0,3,0
513240,792320,250,1,1,2916 161ST AVE SE 98008,2916,,,161ST,AVE,...,0,0,0,1967,0,0,0,0,4,0
513241,792330,40,1,1,15214 SE 18TH ST 98007,15214,,SE,18TH,ST,...,1,0,1,1956,0,0,0,0,4,0

### Seeing pink? Warnings are useful!

Note the warning above: `DtypeWarning: Columns (1, 2) have mixed types.` Because we start with an index of zero, the columns that we're being warned about are actually the _second_ and _third_ columns, `sales_df['Major']` and `sales_df['Minor']`.

In [24]:
bldg_df.head().T

,0,1,2,3,4
Major,4000,4000,4000,4000,4100
Minor,398,460,635,736,230
BldgNbr,1,1,1,1,1
NbrLivingUnits,1,1,1,1,1
Address,14415 45TH LN S,4226 S 146TH ST 98168,4831 S 146TH ST 98168,4429 S 146TH ST 98168,14835 42ND AVE S 98168
BuildingNumber,14415,4226,4831,4429,14835
Fraction,,,,,
DirectionPrefix,,S,S,S,
StreetName,45TH,146TH,146TH,146TH,42ND
StreetType,LN,ST,ST,ST,AVE
DirectionSuffix,S,,,,S
ZipCode,NaN,98168,98168,98168,98168
Stories,2,1,2,2,1
BldgGrade,8,8,6,7,7
BldgGradeVar,0,0,0,0,0
SqFt1stFloor,1230,2610,930,1350,2020
SqFtHalfFloor,0,0,0,0,0
SqFt2ndFloor,1700,0,520,1270,0
SqFtUpperFloor,0,0,0,0,0
SqFtUnfinFull,0,0,0,0,0
SqFtUnfinHalf,0,0,0,0,0
SqFtTotLiving,2930,3850,1730,2620,2020
SqFtTotBasement,0,1240,890,0,510
SqFtFinBasement,0,1240,280,0,0
FinBasementGrade,0,8,5,0,0
SqFtGarageBasement,0,0,0,0,510
SqFtGarageAttached,380,0,0,980,0
DaylightBasement,N,Y,Y,,
SqFtOpenPorch,150,0,0,0,0
SqFtEnclosedPorch,0,0,0,0,0
SqFtDeck,0,210,0,240,0
HeatSystem,5,7,5,5,5
HeatSource,2,2,1,2,2
BrickStone,0,0,0,0,0
ViewUtilization,N,N,,,
Bedrooms,6,6,2,4,4
BathHalfCount,0,2,0,0,0
Bath3qtrCount,1,0,0,1,0
BathFullCount,2,2,1,2,3
FpSingleStory,1,1,1,1,0
FpMultiStory,0,0,0,0,0
FpFreestanding,0,0,0,0,0
FpAdditional,0,0,0,0,0
YrBuilt,2018,1993,1943,1960,1962
YrRenovated,0,0,0,2012,0
PcntComplete,0,0,0,0,0
Obsolescence,0,0,0,0,0
PcntNetCondition,0,0,0,0,0
Condition,3,3,3,3,3
AddnlCost,0,5000,0,0,0

### Data overload?

That's a lot of columns. We're only interested in identifying the date, sale price, and square footage of each specific property. What can we do?

In [26]:
sales_df = sales_df[['Major', 'Minor', 'DocumentDate', 'SalePrice']]

In [27]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2037951 entries, 0 to 2037950
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 62.2+ MB

In [30]:
bldg_df = pd.read_csv('ResidentialBuilding.zip')

/Users/logananderson/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Another warning! Which column has index 11?

In [31]:
bldg_df.columns[11]

'ZipCode'

`ZipCode` seems like a potentially useful column. We'll need it to determine which house sales took place in Seattle.

In [32]:
bldg_df.head().T

,0,1,2,3,4
Major,4000,4000,4000,4000,4100
Minor,398,460,635,736,230
BldgNbr,1,1,1,1,1
NbrLivingUnits,1,1,1,1,1
Address,14415 45TH LN S,4226 S 146TH ST 98168,4831 S 146TH ST 98168,4429 S 146TH ST 98168,14835 42ND AVE S 98168
BuildingNumber,14415,4226,4831,4429,14835
Fraction,,,,,
DirectionPrefix,,S,S,S,
StreetName,45TH,146TH,146TH,146TH,42ND
StreetType,LN,ST,ST,ST,AVE
DirectionSuffix,S,,,,S
ZipCode,NaN,98168,98168,98168,98168
Stories,2,1,2,2,1
BldgGrade,8,8,6,7,7
BldgGradeVar,0,0,0,0,0
SqFt1stFloor,1230,2610,930,1350,2020
SqFtHalfFloor,0,0,0,0,0
SqFt2ndFloor,1700,0,520,1270,0
SqFtUpperFloor,0,0,0,0,0
SqFtUnfinFull,0,0,0,0,0
SqFtUnfinHalf,0,0,0,0,0
SqFtTotLiving,2930,3850,1730,2620,2020
SqFtTotBasement,0,1240,890,0,510
SqFtFinBasement,0,1240,280,0,0
FinBasementGrade,0,8,5,0,0
SqFtGarageBasement,0,0,0,0,510
SqFtGarageAttached,380,0,0,980,0
DaylightBasement,N,Y,Y,,
SqFtOpenPorch,150,0,0,0,0
SqFtEnclosedPorch,0,0,0,0,0
SqFtDeck,0,210,0,240,0
HeatSystem,5,7,5,5,5
HeatSource,2,2,1,2,2
BrickStone,0,0,0,0,0
ViewUtilization,N,N,,,
Bedrooms,6,6,2,4,4
BathHalfCount,0,2,0,0,0
Bath3qtrCount,1,0,0,1,0
BathFullCount,2,2,1,2,3
FpSingleStory,1,1,1,1,0
FpMultiStory,0,0,0,0,0
FpFreestanding,0,0,0,0,0
FpAdditional,0,0,0,0,0
YrBuilt,2018,1993,1943,1960,1962
YrRenovated,0,0,0,2012,0
PcntComplete,0,0,0,0,0
Obsolescence,0,0,0,0,0
PcntNetCondition,0,0,0,0,0
Condition,3,3,3,3,3
AddnlCost,0,5000,0,0,0

### So many features!

As data scientists, we should be _very_ cautious about discarding potentially useful data. But, today, we're interested in _only_ the total square footage of each property. What can we do?

In [33]:
bldg_df = bldg_df[['Major', 'Minor', 'SqFtTotLiving', 'ZipCode']]

In [34]:
bldg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513242 entries, 0 to 513241
Data columns (total 4 columns):
Major            513242 non-null int64
Minor            513242 non-null int64
SqFtTotLiving    513242 non-null int64
ZipCode          468472 non-null object
dtypes: int64(3), object(1)
memory usage: 15.7+ MB

In [35]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

### Error!

Why are we seeing an error when we try to join the dataframes?

<table>
    <tr>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013160 entries, 0 to 2013159
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 61.4+ MB</pre></td>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511359 entries, 0 to 511358
Data columns (total 4 columns):
Major            511359 non-null int64
Minor            511359 non-null int64
SqFtTotLiving    511359 non-null int64
ZipCode          468345 non-null object
dtypes: int64(3), object(1)
memory usage: 15.6+ MB
</pre></td>
    </tr>
</table>

Review the error message in light of the above:

* `ValueError: You are trying to merge on object and int64 columns.`

In [36]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'])

ValueError: Unable to parse string "      " at position 938046

### Error!

Note the useful error message above:

`ValueError: Unable to parse string "      " at position 936643`

In this case, we want to treat non-numeric values as missing values. Let's see if there's a way to change how the `pd.to_numeric` function handles errors.

In [37]:
# The single question mark means "show me the docstring"
pd.to_numeric?

Signature: pd.to_numeric(arg, errors='raise', downcast=None)
Docstring:
Convert argument to a numeric type.

Parameters
----------
arg : list, tuple, 1-d array, or Series
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaN
    - If 'ignore', then invalid parsing will return the input
downcast : {'integer', 'signed', 'unsigned', 'float'} , default None
    If not None, and if the data has been successfully cast to a
    numerical dtype (or if the data was numeric to begin with),
    downcast that resulting data to the smallest numerical dtype
    possible according to the following rules:

    - 'integer' or 'signed': smallest signed int dtype (min.: np.int8)
    - 'unsigned': smallest unsigned int dtype (min.: np.uint8)
    - 'float': smallest float dtype (min.: np.float32)

    As this behaviour is separate from the core conversion to
    numeric values, any errors raised during the downcasting
    will be surfaced regardless of the value of the 'errors' input.

    In addition, downcasting will only occur if the size
    of the resulting data's dtype is strictly larger than
    the dtype it is to be cast to, so if none of the dtypes
    checked satisfy that specification, no downcasting will be
    performed on the data.

    .. versionadded:: 0.19.0

Returns
-------
ret : numeric if parsing succeeded.
    Return type depends on input.  Series if Series, otherwise ndarray

Examples
--------
Take separate series and convert to numeric, coercing when told to

>>> import pandas as pd
>>> s = pd.Series(['1.0', '2', -3])
>>> pd.to_numeric(s)
0    1.0
1    2.0
2   -3.0
dtype: float64
>>> pd.to_numeric(s, downcast='float')
0    1.0
1    2.0
2   -3.0
dtype: float32
>>> pd.to_numeric(s, downcast='signed')
0    1
1    2
2   -3
dtype: int8
>>> s = pd.Series(['apple', '1.0', '2', -3])
>>> pd.to_numeric(s, errors='ignore')
0    apple
1      1.0
2        2
3       -3
dtype: object
>>> pd.to_numeric(s, errors='coerce')
0    NaN
1    1.0
2    2.0
3   -3.0
dtype: float64

See also
--------
pandas.DataFrame.astype : Cast argument to a specified dtype.
pandas.to_datetime : Convert argument to datetime.
pandas.to_timedelta : Convert argument to timedelta.
numpy.ndarray.astype : Cast a numpy array to a specified type.
File:      ~/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/core/tools/numeric.py
Type:      function

Here's the part that we're looking for:
```
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaN
    - If 'ignore', then invalid parsing will return the input
```

Let's try setting the `errors` parameter to `'coerce'`.

In [38]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'], errors='coerce')

/Users/logananderson/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Did it work?

In [39]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2037951 entries, 0 to 2037950
Data columns (total 4 columns):
Major           float64
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: float64(1), int64(1), object(2)
memory usage: 62.2+ MB

It worked! Let's do the same thing with the `Minor` parcel number.

In [40]:
sales_df['Minor'] = pd.to_numeric(sales_df['Minor'], errors='coerce')

/Users/logananderson/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2037951 entries, 0 to 2037950
Data columns (total 4 columns):
Major           float64
Minor           float64
DocumentDate    object
SalePrice       int64
dtypes: float64(2), int64(1), object(1)
memory usage: 62.2+ MB

Now, let's try our join again.

In [42]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [43]:
sales_data.head()

      Major  Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
0  138860.0  110.0   08/21/2014     245000           1490   98002
1  138860.0  110.0   06/12/1989     109300           1490   98002
2  138860.0  110.0   01/16/2005      14684           1490   98002
3  138860.0  110.0   06/08/2005          0           1490   98002
4  423943.0   50.0   10/11/2014          0            960   98092

In [44]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1455450 entries, 0 to 1455449
Data columns (total 6 columns):
Major            1455450 non-null float64
Minor            1455450 non-null float64
DocumentDate     1455450 non-null object
SalePrice        1455450 non-null int64
SqFtTotLiving    1455450 non-null int64
ZipCode          1335603 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 77.7+ MB

We can see right away that we're missing zip codes for many of the sales transactions. (1321536 non-null entries for ZipCode is fewer than the 1436772 entries in the dataframe.)

In [45]:
sales_data.loc[sales_data['ZipCode'].isna()].head()

       Major   Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
23  717370.0   350.0   12/01/1997          0           3380     NaN
24  717370.0   350.0   09/13/2004     300000           3380     NaN
25  717370.0   350.0   02/06/2006     901000           3380     NaN
42  277110.0  1923.0   02/08/2007     372500           1000     NaN
43  277110.0  1923.0   02/08/2007          0           1000     NaN

Because we are interested in finding houses in Seattle zip codes, we will need to drop the rows with missing zip codes.

In [50]:
sales_data = sales_data.loc[~sales_data['ZipCode'].isna(), :]

sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1335603 entries, 0 to 1455449
Data columns (total 6 columns):
Major            1335603 non-null float64
Minor            1335603 non-null float64
DocumentDate     1335603 non-null object
SalePrice        1335603 non-null int64
SqFtTotLiving    1335603 non-null int64
ZipCode          1335603 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 71.3+ MB

# Your turn: Data Cleaning with Pandas
![turtletype](https://media3.giphy.com/media/cFdHXXm5GhJsc/giphy.gif?cid=790b76115d3627d8354c7179366b0672&rid=giphy.gif)

### 1. Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.

Use multiple notebook cells to accomplish this! Press `[esc]` then `B` to create a new cell below the current cell. Press `[return]` to start typing in the new cell.

In [117]:
#DOES NOT WORK
# clean_sp = sales_data.loc[sales_data['SalePrice'] > 0]
# clean_sf = sales_data.loc[sales_data['SqFtTotLiving'] > 0]
# clean_sales_data = clean_sp + clean_sf
# clean_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1335597 entries, 0 to 1455449
Data columns (total 6 columns):
Major            876788 non-null float64
Minor            876788 non-null float64
DocumentDate     876788 non-null object
SalePrice        876788 non-null float64
SqFtTotLiving    876788 non-null float64
ZipCode          876788 non-null object
dtypes: float64(4), object(2)
memory usage: 71.3+ MB

In [63]:
# sorted(sales_data['SalePrice'], reverse=True)

In [118]:
# sorted(clean_sales_data['SalePrice'])
clean_sales_data

,Major,Minor,DocumentDate,SalePrice,SqFtTotLiving,ZipCode
0,277720.0,220.0,08/21/201408/21/2014,490000.0,2980.0,9800298002
1,277720.0,220.0,06/12/198906/12/1989,218600.0,2980.0,9800298002
2,277720.0,220.0,01/16/200501/16/2005,29368.0,2980.0,9800298002
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,847886.0,100.0,07/15/199907/15/1999,192000.0,1920.0,9809298092
7,847886.0,100.0,01/08/200101/08/2001,255000.0,1920.0,9809298092
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN
11,807400.0,1430.0,07/03/201307/03/2013,929000.0,3560.0,9800898008
12,807400.0,1430.0,02/21/201302/21/2013,714000.0,3560.0,9800898008
13,807400.0,1430.0,10/13/199510/13/1995,284000.0,3560.0,9800898008
14,807400.0,1430.0,02/22/200702/22/2007,1056000.0,3560.0,9800898008
15,NaN,NaN,NaN,NaN,NaN,NaN
16,1442962.0,180.0,01/03/199201/03/1992,386000.0,6440.0,9807298072
17,1442962.0,180.0,01/03/199201/03/1992,386000.0,6440.0,9807298072
18,422860.0,320.0,07/18/200507/18/2005,834000.0,3680.0,9810698106
19,422860.0,320.0,06/27/201306/27/2013,710000.0,3680.0,9810698106
20,422860.0,320.0,08/03/201708/03/2017,1220000.0,3680.0,9810698106
21,422860.0,320.0,04/11/199704/11/1997,83000.0,3680.0,9810698106
22,422860.0,320.0,01/03/199401/03/1994,24500.0,3680.0,9810698106
26,1025400.0,1080.0,12/03/200712/03/2007,665900.0,3620.0,9805998059
27,1025400.0,1080.0,04/23/201304/23/2013,607914.0,3620.0,9805998059
28,1025400.0,1080.0,08/30/201308/30/2013,510200.0,3620.0,9805998059
29,NaN,NaN,NaN,NaN,NaN,NaN
30,1025400.0,1080.0,12/15/201712/15/2017,991000.0,3620.0,9805998059
31,1025400.0,1080.0,05/01/199605/01/1996,300000.0,3620.0,9805998059
32,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1455416,NaN,NaN,NaN,NaN,NaN,NaN
1455417,177800.0,20.0,10/22/201510/22/2015,1620000.0,4440.0,9810598105
1455418,494674.0,3420.0,05/16/199405/16/1994,384000.0,5640.0,9805898058
1455419,1440468.0,1540.0,06/01/200406/01/2004,746740.0,4960.0,196106
1455422,445010.0,18414.0,10/09/199510/09/1995,493000.0,5140.0,9800598005
1455423,445010.0,18414.0,10/09/199510/09/1995,493000.0,2140.0,9800598005
1455424,503402.0,480.0,02/14/200702/14/2007,819800.0,5640.0,196084
1455425,717300.0,80.0,02/04/200402/04/2004,1270200.0,6420.0,9817798177
1455426,24606.0,19228.0,03/26/199803/26/1998,399900.0,4440.0,9814698146
1455427,1909440.0,2060.0,12/04/199212/04/1992,430000.0,2820.0,196230
1455428,345212.0,18362.0,07/26/198307/26/1983,175900.0,4640.0,9807798077
1455429,239200.0,132.0,08/29/201708/29/2017,2160000.0,6160.0,9802398023
1455430,161800.0,2880.0,10/19/198810/19/1988,294000.0,3460.0,9810998109
1455431,22820.0,1258.0,01/26/199801/26/1998,342000.0,1460.0,9802898028
1455432,831260.0,1100.0,08/03/199008/03/1990,255000.0,3040.0,196076
1455433,NaN,NaN,NaN,NaN,NaN,NaN
1455434,1763980.0,1030.0,09/25/198509/25/1985,127000.0,1740.0,9810598105
1455435,1127202.0,1160.0,11/10/199711/10/1997,370980.0,3800.0,9801098010
1455436,NaN,NaN,NaN,NaN,NaN,NaN
1455437,1895588.0,640.0,02/22/200202/22/2002,663362.0,6020.0,9805998059
1455438,494696.0,680.0,09/16/199309/16/1993,320000.0,4020.0,9805898058
1455439,NaN,NaN,NaN,NaN,NaN,NaN
1455440,NaN,NaN,NaN,NaN,NaN,NaN
1455441,1888460.0,20.0,10/01/200110/01/2001,560000.0,5060.0,9817798177
1455442,1595980.0,1020.0,09/27/198509/27/1985,124000.0,3460.0,9815598155
1455443,441400.0,80.0,05/04/200405/04/2004,600000.0,3580.0,9800698006
1455445,1083720.0,40.0,07/23/200207/23/2002,900000.0,5780.0,9811598115
1455447,NaN,NaN,NaN,NaN,NaN,NaN
1455448,587000.0,200.0,01/23/198701/23/1987,133700.0,2380.0,9800198001
1455449,1618520.0,160.0,08/20/200108/20/2001,290000.0,2340.0,196084

In [71]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1335603 entries, 0 to 1455449
Data columns (total 6 columns):
Major            1335603 non-null float64
Minor            1335603 non-null float64
DocumentDate     1335603 non-null object
SalePrice        1335603 non-null int64
SqFtTotLiving    1335603 non-null int64
ZipCode          1335603 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 71.3+ MB

### 2. Investigate and handle non-numeric ZipCode values

Can you find a way to shorten ZIP+4 codes to the first five digits?

What's the right thing to do with missing values?

In [67]:
# Read the error message and decide how to fix it.
# Note: using errors='coerce' is the *wrong* choice in this case.
def is_integer(x):
    try:
        _ = int(x)
    except ValueError:
        return False
    return True

sales_data.loc[sales_data['ZipCode'].apply(is_integer) == False, 'ZipCode'].head()

32602    98033-4917
32603    98033-4917
32604    98033-4917
32605    98033-4917
32606    98033-4917
Name: ZipCode, dtype: object

### 3. Add a column for PricePerSqFt

In [75]:
sales_data[32602:32660, ['ZipCode']

SyntaxError: unexpected EOF while parsing (<ipython-input-75-3490b145d7c5>, line 1)

### 4. Subset the data to 2019 sales only.

We can assume that the DocumentDate is approximately the sale date.

### 5. Subset the data to zip codes within the City of Seattle.

You'll need to find a list of Seattle zip codes!

### 6. What is the mean price per square foot for a house sold in Seattle in 2019?

Don't just type the answer. Type code that generates the answer as output!

## Turning code into a script

#### make a new .py file
- open a new `.py` file _or_ open a new jupyter notbook and export as a `.py` file so we can start to edit the `.py` file directly
- save the file as `mean_ppsf_seattle.py`
- look at all your code between `sales_df = pd.read_csv('data/Real Property Sales.zip')` and question `number 6` above

#### review & organize your code
- _organize_ your code in the `mean_ppsf_seattle.py` to start with `sales_df = pd.read_csv('data/Real Property Sales.zip')` and end with printing out the mean price per square foot for a house sold in seattle in 2019
- the code should be able to run without throwing any errors
- remember to include `import pandas as pd` and any other necessary statements at the start of your script

#### test your script
- go to the terminal
- make sure you are in the same directory path as your jupyter notebook and the `.py` file
- in the terminal type and then run `python mean_ppsf_seattle.py`
- confirm the script returns in terminal what you wanted it to return

#### send your script to Ammar and Marisa

![anykey](https://media2.giphy.com/media/26BGIqWh2R1fi6JDa/giphy.gif?cid=790b76115d3627d8354c7179366b0672&rid=giphy.gif)